notebook
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
numpy
scipy
pandas
scikit-learn
imageio
scikit-image
opencv-python
Pillow
matplotlib
seaborn
statsmodels
lightgbm
xgboost
tqdm
torch
tensorflow
gensim
spacy
pyLDAvis
